/*
 *      style.css
 *      
 *      Copyright 2011 Indra Sutriadi Pipii <indra@sutriadi.web.id>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */

/*
 * general formatting
 */
body {
	background: #0B3E6F url(../images/ui-bg-blue-d.png) repeat fixed;
	padding: 0;
	margin: 0;
	font-family: Arial, Tahoma, Verdana, sans;
	font-size: 80%;
}

/*
 * formatting design and layout
 */

#container {
	background: #FFFFE5;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	padding-bottom: 20px;
	border-left: 1px solid #585858;
	border-right: 1px solid #585858;
	border-bottom: 1px solid #585858;
	margin-bottom: 5px;
}

#header {
	width: 100%;
}

#header #logo {
	float: left;
	margin: 0 15px 0 0;
}

#header #web-name-wrapper {
	float: left;
}

#header #web-name-wrapper span {
	display: block;
}

#header #search {
	float: right;
	position: relative;
	top: -1px;
	right: 10px;
	border: 1px solid #000;
	padding: 20px;
	background: #004180;
}

#web-name-wrapper #web-title {
	font-size: 24pt;
	text-shadow: #E0E0E0 1px 1px;
}

#web-name-wrapper #web-subtitle {
	font-size: 12pt;
	font-style: italic;
	text-shadow: #E0E0E0 1px 1px;
}

#main {
	width: 100%;
	clear: both;
}

#leftbar {
	width: 25%;
	float: left;
}

#leftbar .block {
	margin: 10px auto;
	background: #3075C0;
	padding: 3px;
}

#leftbar .block .header {
	padding: 5px 2px;
	background: url(../images/ui-bg-sea-d.png) repeat-x center center;
	color: #FFF;
	margin: 0;
	text-align: center;
	text-shadow: #E0E0E0 1px 1px;
}

#leftbar .block .content {
	padding: 5px 3px;
	background: #FFF;
}

#leftbar .dark,
#leftbar .dark .content {
	background: #1D4C7A;
	color: #FFF;
}

#leftbar .dark .header {
	background: url(../images/ui-bg-white-d.png) repeat-x center center;
	color: #1D4C7A;
	text-shadow: #545454 1px 1px;
}

#rightbar {
	width: 20%;
	float: right;
}

#rightbar .block {
	margin: 10px auto;
	background: #7A1505;
	padding: 3px;
}

#rightbar .block .header {
	padding: 5px 2px;
	background: url(../images/ui-bg-red-d.png) repeat-x center center;
	color: #FFF;
	margin: 0;
	text-align: center;
	text-shadow: #E0E0E0 1px 1px;
}

#rightbar .block .content {
	padding: 5px 3px;
	background: #FFF;
}

#rightbar .dark,
#rightbar .dark .content {
	background: #B81900;
	color: #FFF;
}

#rightbar .dark .header {
	background: url(../images/ui-bg-white-d.png) repeat-x center center;
	color: #B81900;
	text-shadow: #545454 1px 1px;
}

#nodebar {
	width: 52%;
	float: left;
	padding: 10px;
}

#top-node {
	padding: 10px;
	background: #98CB80;
	margin-bottom: 10px;
}

#bottom-node {
	padding: 10px;
	background: #DD1100;
	color: #FFF;
	margin-bottom: 10px;
}

#footer {
	width: 100%;
	clear: both;
	border-top: 2px solid #004180;
	padding-top: 3px;
}

#footer .block {
	margin: 10px auto;
	padding: 3px;
}

#web-footer-wrapper span {
	display: block;
}

#web-footer-wrapper {
	text-align: center;
}

/*
 * Formating SLiMS Content and Layout
 */
div.biblioPaging {
	text-align: center;
}

span.pagingList {
	
}


/*
 * block content basic styles
 */
#leftbar .t-right .content,
#rightbar .t-right .content
{ text-align: right; }
#leftbar .t-center .content,
#rightbar .t-center .content
{ text-align: center; }
#leftbar .t-bold .content,
#rightbar .t-bold .content
{ font-weight: bold; }
#leftbar .t-italic .content,
#rightbar .t-italic .content
{ font-style: italic; }
#leftbar .t-underline .content,
#rightbar .t-underline .content
{ text-decoration: underline; }

/*
 * block header icons
 */
#container div.icons h3.header { text-align: right; padding: 10px; }
#leftbar div.icons h3.header,
#rightbar div.icons h3.header
{
	color: #FFF;
	text-shadow: #E0E0E0 1px 1px;
}

#container div.i-chat h3.header { background: url(../icons/chat.png) no-repeat 5px center; }
#container div.i-err h3.header { background: url(../icons/error.png) no-repeat 5px center; }
#container div.i-fav h3.header { background: url(../icons/favorit.png) no-repeat 5px center; }
#container div.i-find h3.header { background: url(../icons/find.png) no-repeat 5px center; }
#container div.i-help h3.header { background: url(../icons/help.png) no-repeat 5px center; }
#container div.i-home h3.header { background: url(../icons/home.png) no-repeat 5px center; }
#container div.i-info h3.header { background: url(../icons/info.png) no-repeat 5px center; }
#container div.i-net h3.header { background: url(../icons/net.png) no-repeat 5px center; }
#container div.i-key h3.header { background: url(../icons/key.png) no-repeat 5px center; }
#container div.i-lan h3.header { background: url(../icons/lan.png) no-repeat 5px center; }
#container div.i-lang h3.header { background: url(../icons/language.png) no-repeat 5px center; }
#container div.i-srch h3.header { background: url(../icons/search.png) no-repeat 5px center; }
#container div.i-sys h3.header { background: url(../icons/system.png) no-repeat 5px center; }
#container div.i-user h3.header { background: url(../icons/user.png) no-repeat 5px center; }
#container div.i-warn h3.header { background: url(../icons/warn.png) no-repeat 5px center; }
