/*
 *      style.css
 *      
 *      Copyright 2011 Indra Sutriadi Pipii <indra@sutriadi.web.id>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */

/* General formatting */
body {
	padding: 0;
	margin: 0;
	font-family: Arial, Tahoma, Verdana, sans;
	font-size: 80%;
}

/* Design and Layout */

/* Container */
#container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	padding-bottom: 20px;
	margin-bottom: 5px;
}

/* Header */
#header {
	width: 100%;
	padding: 10px 0;
}

/* Logo at Header */
#header #logo {
	margin: 0 15px 0 0;
}

/* Wrapper of Title and Subtitle */
#header #web-name-wrapper {
}

#header #web-name-wrapper span {
	display: block;
}

#header #search {
	padding: 3px 0;
}

#web-name-wrapper #web-title {
	font-size: 24pt;
}

#web-name-wrapper #web-subtitle {
	font-size: 12pt;
	font-style: italic;
}

/* Main */
#main {
	width: 100%;
	clear: both;
}

div#container.left #leftbar,
div#container.both #leftbar {
	width: 25%;
	float: left;
	padding: 10px 0;
}

div#container.none #leftbar,
div#container.right #leftbar {
	width: 0%;
	display: none;
}

/* Left Bar */
#leftbar .block {
	margin: 10px auto;
}

#leftbar .block .header {
	padding: 5px 2px;
	margin: 0;
}

#leftbar .block .content {
	padding: 5px 3px;
}

div#container.right #rightbar,
div#container.both #rightbar {
	width: 20%;
	float: right;
	padding: 10px 0;
}

div#container.left #rightbar,
div#container.none #rightbar {
	width: 0%;
	display: none;
}

/* Right Bar */
#rightbar .block {
	margin: 10px auto;
}

#rightbar .block .header {
	padding: 5px 2px;
	margin: 0;
}

#rightbar .block .content {
	padding: 5px 3px;
}

/* Center Bar */
#nodebar {
	float: left;
	padding: 0 10px;
}

div#container.left #nodebar {
	width: 72%;
	float: right;
	padding-right: 0;
}

div#container.right #nodebar {
	width: 77%;
	padding-left: 0;
}

div#container.both #nodebar {
	width: 52%;
}

div#container.none #nodebar {
	width: 100%;
	padding: 0;
	clear: both;
}

/* Content Top */
#top-node {
	padding: 10px;
	margin-bottom: 10px;
}

/* Main Content */
#main-node {
	padding: 10px;
}

/* Content Bottom */
#bottom-node {
	padding: 10px;
	margin-bottom: 10px;
}

/* Footer */
#footer {
	width: 100%;
	clear: both;
	padding-top: 3px;
}

#footer .block {
	margin: 10px auto;
}

#web-footer-wrapper span {
	display: block;
}

#web-footer-wrapper {
	padding: 10px;
	text-align: center;
}

/* Formatting core blocks */
div.block label {
	display: block;
	padding: 2px 0;
}

div.advanced_search input,
div.advanced_search select {
	max-width: 100%;
}

label {
	cursor: pointer;
	cursor: hand;
}

/* Formatting links */
ul.links {
}

ul.links li {
	margin: 0;
	padding: 0;
}

ul.main-links {
	padding: 3px;
}

ul.main-links li {
	float: left;
	display: block;
	padding: 0 3px;
}

ul.links li.first {
}

ul.links li.last {
}

ul.links li.active {
}

/* Formatting SLiMS content and layout */
div.biblioPaging {
}

span.pagingList {	
}

div.item {
	padding-left: 50px;
	padding-top: 0;
	margin-bottom: 10px;
}

div.alterList {
}

div.alterList2 {
}

div.item a {
}

div.item div.subItem {
}

div.item div.authorField {
}

div.item div.authorField b {
}

div.item div.subItem a {
}

div.item div.subItem a.detailLink {
}

div.item div.subItem a.xmlDetailLink {
}
