/*
 *      style.css
 *      
 *      Copyright 2011 Indra Sutriadi Pipii <indra@sutriadi.web.id>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */

/*
 * general formatting
 */
body {
	background: #0B3E6F url(../images/ui-bg-blue-d.png) repeat fixed;
	padding: 0;
	margin: 0;
	font-family: Arial, Tahoma, Verdana, sans;
	font-size: 80%;
}

/*
 * formatting design and layout
 */

#container {
	background: #FFFFE5;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	padding-bottom: 20px;
	border-left: 1px solid #585858;
	border-right: 1px solid #585858;
	border-bottom: 1px solid #585858;
	margin-bottom: 5px;
}

#header {
	width: 100%;
	padding-top: 0;
}

#header #logo {
	float: left;
	margin: 10px 15px 0 0;
}

#header #web-name-wrapper {
	float: left;
	margin: 10px 0 30px;
}

#header #web-name-wrapper span {
	display: block;
}

#header #search {
	float: right;
	position: relative;
	top: -1px;
	right: 10px;
	padding: 20px;
	background: #004180;
}

#web-name-wrapper #web-title {
	font-size: 24pt;
	text-shadow: #E0E0E0 1px 1px;
}

#web-name-wrapper #web-subtitle {
	font-size: 12pt;
	font-style: italic;
	text-shadow: #E0E0E0 1px 1px;
}

#main {
	width: 100%;
	clear: both;
}

#leftbar {
	float: left;
}

#leftbar .block {
	margin: 10px auto;
	background: #3075C0;
	padding: 3px;
}

#leftbar .block .header {
	padding: 5px 2px;
	background: url(../images/ui-bg-sea-d.png) repeat-x center center;
	color: #FFF;
	margin: 0;
	text-align: center;
	text-shadow: #E0E0E0 1px 1px;
}

#leftbar .block .content {
	padding: 5px 3px;
	background: #FFF;
}

#leftbar .dark,
#leftbar .dark .content {
	background: #1D4C7A;
	color: #FFF;
}

#leftbar .dark .header {
	background: url(../images/ui-bg-white-d.png) repeat-x center center;
	color: #1D4C7A;
	text-shadow: #545454 1px 1px;
}

#rightbar {
	float: right;
}

#rightbar .block {
	margin: 10px auto;
	background: #7A1505;
	padding: 3px;
}

#rightbar .block .header {
	padding: 5px 2px;
	background: url(../images/ui-bg-red-d.png) repeat-x center center;
	color: #FFF;
	margin: 0;
	text-align: center;
	text-shadow: #E0E0E0 1px 1px;
}

#rightbar .block .content {
	padding: 5px 3px;
	background: #FFF;
}

#rightbar .dark,
#rightbar .dark .content {
	background: #B81900;
	color: #FFF;
}

#rightbar .dark .header {
	background: url(../images/ui-bg-white-d.png) repeat-x center center;
	color: #B81900;
	text-shadow: #545454 1px 1px;
}

#nodebar {
	float: left;
	padding: 10px;
}

#top-node {
	padding: 10px;
	background: #98CB80;
	margin: 10px 0;
}

#bottom-node {
	padding: 10px;
	background: #DD1100;
	color: #FFF;
	margin-bottom: 10px;
}

#footer {
	width: 100%;
	clear: both;
	border-top: 2px solid #004180;
	padding-top: 3px;
}

#footer .block {
	margin: 10px auto;
	padding: 3px;
}

#web-footer-wrapper span {
	display: block;
}

#web-footer-wrapper {
	text-align: center;
}

/*
 * Formatting links
 */
ul.links {
}

ul.links li {
	margin: 0;
	padding: 0;
}

ul.main-links {
}

ul.main-links li {
	float: left;
	display: block;
	padding: 0 3px;
}

ul.links li.first {
}

ul.links li.last {
}

ul.links li.active {
}

ul.main-links li a {
	margin: 0;
}

/*
 * Formatting main-links
 */
div#main-links {
	clear: both;
	position: relative;
	display: block;
	height: 42px;
	font-size: 11px;
	font-weight: bold;
	background: transparent url(../images/blueslate_background.gif) repeat-x top left;
	font-family: Arial,Verdana,Helvitica,sans-serif;
	text-transform:uppercase;
	margin-bottom: -10px;
}
div#main-links ul {
	margin: 0px;
	padding: 0;
	list-style-type: none;
	width: auto;
}
div#main-links ul li {
	display: block;
	float: left;
	margin: 0 1px 0 0;
}
div#main-links ul li a {
	display: block;
	float: left;
	color: #11365A;
	text-decoration: none;
	text-shadow: #116FC1 1px 1px;
	padding: 14px 22px 0 22px;
	height:28px;
}
div#main-links ul li a:hover, div#main-links ul li a.active {
	color:#fff;
	text-shadow: #333 1px 1px;
	background: transparent url(../images/blueslate_backgroundOVER.gif) no-repeat top center;
}

/*
 * Formating SLiMS Content and Layout
 */
div.biblioPaging {
	text-align: center;
}

span.pagingList {
	
}

/*
 * Form formatting
 */
div.block input.text {
	width: 90%;
}

div.block input.button {
	width: auto;
}

/*
 * block content basic styles
 */
div.block.t-right .content { text-align: right; }
div.block.t-justify .content { text-align: justify; }
div.block.t-center .content { text-align: center; }
div.block.t-bold .content { font-weight: bold; }
div.block.t-italic .content { font-style: italic; }
div.block.t-underline .content { text-decoration: underline; }
div.block.t-shadow .content { text-shadow: #545454 1px 1px; }

/*
 * block content styles
 */
#leftbar .dark .content a,
#rightbar .dark .content a
{ color: #FFF; }

/*
 * block header icons
 */
#container div.icons h3.header { text-align: right; padding: 10px; }
#leftbar div.icons h3.header,
#rightbar div.icons h3.header
{
	color: #FFF;
	text-shadow: #E0E0E0 1px 1px;
}

#container div.i-chat h3.header { background: url(../icons/chat.png) no-repeat 5px center; }
#container div.i-err h3.header { background: url(../icons/error.png) no-repeat 5px center; }
#container div.i-fav h3.header { background: url(../icons/favorit.png) no-repeat 5px center; }
#container div.i-find h3.header { background: url(../icons/find.png) no-repeat 5px center; }
#container div.i-help h3.header { background: url(../icons/help.png) no-repeat 5px center; }
#container div.i-home h3.header { background: url(../icons/home.png) no-repeat 5px center; }
#container div.i-info h3.header { background: url(../icons/info.png) no-repeat 5px center; }
#container div.i-net h3.header { background: url(../icons/net.png) no-repeat 5px center; }
#container div.i-key h3.header { background: url(../icons/key.png) no-repeat 5px center; }
#container div.i-lan h3.header { background: url(../icons/lan.png) no-repeat 5px center; }
#container div.i-lang h3.header { background: url(../icons/language.png) no-repeat 5px center; }
#container div.i-search h3.header { background: url(../icons/search.png) no-repeat 5px center; }
#container div.i-sys h3.header { background: url(../icons/system.png) no-repeat 5px center; }
#container div.i-user h3.header { background: url(../icons/user.png) no-repeat 5px center; }
#container div.i-warn h3.header { background: url(../icons/warn.png) no-repeat 5px center; }
