/*
 *      style.css
 *      
 *      Copyright 2011 Indra Sutriadi Pipii <indra@sutriadi.web.id>
 *      
 *      This program is free software; you can redistribute it and/or modify
 *      it under the terms of the GNU General Public License as published by
 *      the Free Software Foundation; either version 2 of the License, or
 *      (at your option) any later version.
 *      
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU General Public License for more details.
 *      
 *      You should have received a copy of the GNU General Public License
 *      along with this program; if not, write to the Free Software
 *      Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *      MA 02110-1301, USA.
 */

/* General formatting */
body {
	background: #0B3E6F url(../images/ui-bg-blue-d.png) repeat fixed;
	padding: 0;
	margin: 0;
	font-family: Arial, Tahoma, Verdana, sans;
	font-size: 80%;
}

a {
	color: #1D4C7A;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* Design and Layout */

/* Container */
#container {
	background: #EFFFF7;
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
	padding-bottom: 20px;
	border-left: 1px solid #585858;
	border-right: 1px solid #585858;
	border-bottom: 1px solid #585858;
	margin-bottom: 5px;
}

/* Header */
#header {
	width: 100%;
	padding-top: 0;
}

/* Logo at Header */
#header #logo {
	float: left;
	margin: 10px 15px 0 0;
}

/* Wrapper of Title and Subtitle */
#header #web-name-wrapper {
	float: left;
	margin: 10px 0 30px;
}

#header #web-name-wrapper span {
	display: block;
}

#header #search {
	float: right;
	position: relative;
	top: -1px;
	right: 10px;
	padding: 20px;
	background: #004180;
	margin-bottom: 10px;
}

#search-feature-theme-form input#search-feature-keywords,
#search-feature-theme-form input#search-feature-submit {
	padding: .4em;
}

#web-name-wrapper #web-title {
	font-size: 24pt;
	text-shadow: #E0E0E0 1px 1px;
}

#web-name-wrapper #web-subtitle {
	font-size: 12pt;
	font-style: italic;
	text-shadow: #A3C1DF 1px 1px;
}

/* Main */
#main {
	width: 100%;
	clear: both;
}

/* Left Bar */
#leftbar {
}

#leftbar .block {
	margin: 10px auto;
	background: #3075C0;
	padding: 3px;
}

#leftbar .block .header {
	padding: 5px 2px;
	background: url(../images/ui-bg-sea-d.png) repeat-x center center;
	color: #FFF;
	margin: 0;
	text-align: center;
	text-shadow: #E0E0E0 1px 1px;
}

#leftbar .block .content {
	padding: 5px 3px;
	background: #FFF;
}

#leftbar .dark,
#leftbar .dark .content {
	background: #1D4C7A;
	color: #FFF;
}

#leftbar .dark .header {
	background: url(../images/ui-bg-white-d.png) repeat-x center center;
	color: #1D4C7A;
	text-shadow: #545454 1px 1px;
}

/* Right Bar */
#rightbar {
	float: right;
}

#rightbar .block {
	margin: 10px auto;
	background: #7A1505;
	padding: 3px;
}

#rightbar .block .header {
	padding: 5px 2px;
	background: url(../images/ui-bg-red-d.png) repeat-x center center;
	color: #FFF;
	margin: 0;
	text-align: center;
	text-shadow: #E0E0E0 1px 1px;
}

#rightbar .block .content {
	padding: 5px 3px;
	background: #FFF;
}

#rightbar .dark,
#rightbar .dark .content {
	background: #B81900;
	color: #FFF;
}

#rightbar .dark .header {
	background: url(../images/ui-bg-white-d.png) repeat-x center center;
	color: #B81900;
	text-shadow: #545454 1px 1px;
}

/* Center Bar */
#nodebar {
	float: left;
	padding: 10px;
}

#main-node {
	padding: 10px 0;
}

#main-node #info-node {
	padding: .4em;
	margin-bottom: 10px;
}

#main-node #info-node div {
	padding: .4em;
}

#main-node div.errorBox {
	padding: .4em;
	margin: 5px 0;
}

/* Content Top */
#top-node {
	padding: 0px;
	margin: 10px 0;
}

#top-node .block {
	padding: 3px;
	background: #173A14;
}

/* Content Bottom */
#bottom-node {
	padding: 0px;
	margin-bottom: 10px;
}

#bottom-node .block {
	padding: 3px;
	background: #6D0D54;
}

#top-node .block .header,
#bottom-node .block .header {
	color: #F3FF1E;
	padding: 5px;
	margin: 0;
	text-shadow: #FAFFA4 1px 1px;
}

#top-node .block .content,
#bottom-node .block .content {
	padding: 5px 3px;
	background: #FFF;
	margin: 0;
}

/* Footer */
#footer {
	width: 100%;
	clear: both;
	border-top: 2px solid #004180;
	padding-top: 3px;
}

#footer .block {
	margin: 10px auto;
	padding: 3px;
}

#web-footer-wrapper span {
	display: block;
}

#web-footer-wrapper {
	text-align: center;
}

/* Links */
ul.links {
}

ul.links li {
	margin: 0;
	padding: 0;
}

ul.main-links {
}

ul.main-links li {
	float: left;
	display: block;
	padding: 0 3px;
}

ul.links li.first {
}

ul.links li.last {
}

ul.links li.active {
	color: #1A324A;
	font-weight: bold;
}

ul.main-links li a {
	margin: 0;
}

/* Poyowa - Main Links */
div#main-links {
	clear: both;
	position: relative;
	display: block;
	height: 42px;
	font-size: 11px;
	font-weight: bold;
	background: transparent url(../images/blueslate_background.gif) repeat-x top left;
	font-family: Arial,Verdana,Helvitica,sans-serif;
	text-transform:uppercase;
	margin-bottom: -10px;
}
div#main-links ul {
	margin: 0px;
	padding: 0;
	list-style-type: none;
	width: auto;
}
div#main-links ul li {
	display: block;
	float: left;
	margin: 0 1px 0 0;
}
div#main-links ul li a {
	display: block;
	float: left;
	color: #11365A;
	text-decoration: none;
	text-shadow: #116FC1 1px 1px;
	padding: 14px 22px 0 22px;
	height:28px;
}
div#main-links ul li a:hover, div#main-links ul li a.active {
	color:#fff;
	text-shadow: #333 1px 1px;
	background: transparent url(../images/blueslate_backgroundOVER.gif) no-repeat top center;
}

/* Formatting SLiMS content and layout */
div.biblioPaging {
	text-align: center;
}

span.pagingList {
}

span.pagingList span {
	padding: 0;
}

div.item {
	padding-left: 55px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom:10px;
}

div.alterList {
}

div.alterList2 {
	background: #C9D4DF;
}

div.item {
	background-position: 6px 10px;
}

div.item a {
}

div.item a.titleField {
	font-weight: bold;
}

div.item div.subItem {
}

div.item div.authorField {
	padding: 5px 0;
}

div.item div.authorField b {
}

div.item div.subItem a {
	padding: 2px;
	text-decoration: none;
}

div.subItem span.ui-button-text {
	padding: 0 5px;
}

div.item input.biblioCheck {
	display: inline; 
}

div.item div.subItem a.detailLink {
	background: #1A324A;
	color: #FFF;
}

div.item div.subItem a.xmlDetailLink {
	background: #7A1505;
	color: #FFF;
}

div.item div.subItem a:hover {
	background: #FFEF04;
	color: #000;
}

div a.xmlResultLink {
	background: #404040;
	color: #FFF;
	padding: 5px;
	text-decoration: none;
}

div a.xmlResultLink:hover {
	background: #370D57;
}

/* Form */
div.block input.text {
	width: 90%;
	margin-bottom: 3px;
	padding: .2em;
}

div.block select {
	padding: .2em 0;
}

div.block input.button {
	width: auto;
	padding: .2em;
}

div.block.ui-form input,
div.block.ui-form select
{
	padding: .4em;
}

div.loginInfo {
	margin: 5px 0;
}

#memberLogin input {
	padding: .2em;
}

h3.memberInfoHead {
	background: #0D5748;
	padding: 5px;
	color: #FFF;
}

tr.dataListHeader {
	background: #626262;
}

table.memberLoanList {
	margin: 5px 0;
}

table.memberLoanList tr.alterCell {
	background: #DEDEDE;
}

tr.dataListHeader a {
	color: #FFF;
	text-shadow: #333 1px 1px;
}

div.memberBasketAction {
	padding: 5px 0;
}

/* Poyowa - List */
.block.li-dark ul.links {
	padding: 0;
	margin: 0;
}

.block.li-dark ul.links li {
	border-bottom: 1px solid #F8F8F8;
	display: block;
	padding: 0;
	margin: 0;
}

.block.li-dark ul.links li.active,
.block.li-dark ul.links li:hover {
	background: #2E91E9;
}

.block.li-dark ul.links li.last {
	border-bottom: none;
}

.block.li-dark ul.links li a {
	display: block;
	text-decoration: none;
	padding: 5px 0;
	padding-left: 5px;
}

.block.li-dark ul.links li:hover a,
.block.li-dark ul.links li.active a {
	color: #FFF;
}

#rightbar .block ul.links li a {
	color: #7A1505;
}

#rightbar .block.li-dark ul.links li:hover a,
#rightbar .block.li-dark ul.links li.active a {
	color: #FFF;
}

#rightbar .block.li-dark ul.links li.active,
#rightbar .block.li-dark ul.links li:hover {
	background: #BE2E17;
}

/* Poyowa - Dark */
#leftbar .dark .content a,
#rightbar .dark .content a
{ color: #FFF; }

/* Poyowa - Icons */
#container div.icons h3.header { text-align: right; padding: 10px; }
#leftbar div.icons h3.header,
#rightbar div.icons h3.header
{
	color: #FFF;
	text-shadow: #E0E0E0 1px 1px;
}

#container div.i-chat h3.header { background: url(../icons/chat.png) no-repeat 5px center; }
#container div.i-err h3.header { background: url(../icons/error.png) no-repeat 5px center; }
#container div.i-fav h3.header { background: url(../icons/favorit.png) no-repeat 5px center; }
#container div.i-find h3.header { background: url(../icons/find.png) no-repeat 5px center; }
#container div.i-help h3.header { background: url(../icons/help.png) no-repeat 5px center; }
#container div.i-home h3.header { background: url(../icons/home.png) no-repeat 5px center; }
#container div.i-info h3.header { background: url(../icons/info.png) no-repeat 5px center; }
#container div.i-net h3.header { background: url(../icons/net.png) no-repeat 5px center; }
#container div.i-key h3.header { background: url(../icons/key.png) no-repeat 5px center; }
#container div.i-lan h3.header { background: url(../icons/lan.png) no-repeat 5px center; }
#container div.i-lang h3.header { background: url(../icons/language.png) no-repeat 5px center; }
#container div.i-search h3.header { background: url(../icons/search.png) no-repeat 5px center; }
#container div.i-sys h3.header { background: url(../icons/system.png) no-repeat 5px center; }
#container div.i-user h3.header { background: url(../icons/user.png) no-repeat 5px center; }
#container div.i-warn h3.header { background: url(../icons/warn.png) no-repeat 5px center; }
